<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1097532101978-23mpcutfnm71vplv5sctl38b1pmta58v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1097532101978-23mpcutfnm71vplv5sctl38b1pmta58v</string>
	<key>API_KEY</key>
	<string>AIzaSyB6Ts0viQnr4MLmGDmtuoeh-4brhEaPMy8</string>
	<key>GCM_SENDER_ID</key>
	<string>1097532101978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoApp</string>
	<key>PROJECT_ID</key>
	<string>todo-995ef</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-995ef.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1097532101978:ios:5e21ef5dd7c653cf758f63</string>
</dict>
</plist>