<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>708697259052-45slcv2b41rqv5e7prj2bmt0192b0ebr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.708697259052-45slcv2b41rqv5e7prj2bmt0192b0ebr</string>
	<key>API_KEY</key>
	<string>AIzaSyDlQ6vrHmxsEfYzsUbjbEZBhes7KqnmOOo</string>
	<key>GCM_SENDER_ID</key>
	<string>708697259052</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.todoFirebase</string>
	<key>PROJECT_ID</key>
	<string>todo-6afe6</string>
	<key>STORAGE_BUCKET</key>
	<string>todo-6afe6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708697259052:ios:213a7982cb5be016f5a589</string>
</dict>
</plist>